.home {
  .information-region {
    padding: 50px;
    width: 35%;
  }

  .content-region {
    margin-left: 35%;
    width: 65%;
    background: white;
    height: 100%;

    .img-container {
      position: relative;
      display: inline-block;
      height: 100%;
      width: 30%;
      .my-img {
        position: absolute;
        width: 400px;
        height: calc(100% - 112px);
        top: 56px;
        left: -200px;
        background: url("../img/me.jpg") no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        -webkit-box-shadow: 10px 10px 77px -1px rgba(0, 0, 0, 0.46);
        -moz-box-shadow: 10px 10px 77px -1px rgba(0, 0, 0, 0.46);
        box-shadow: 10px 10px 77px -1px rgba(0, 0, 0, 0.46);
      }
    }

    .profile-region {
      vertical-align: top;
      display: inline-block;
      padding: 25% 0 0 0;
      max-width: 450px;

      .profile {
        h1 {
          font-size: 2rem;
          font-weight: 500;
          line-height: 1.1;
          margin: 0 0 1.2rem 0;
          span {
            color: $colorRed;
          }
        }

        h5 {
          font-size: 1.1rem;
          margin: 0 0 2rem 0;
        }

        p {
          color: $colorBlack;
          font-weight: 300;
          line-height: 1.2;
          margin: 0 0 2rem 0;
        }
      }
    }
  }
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  body {
    background: red;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
  body {
    background: yellow;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
  body {
    background: purple;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
  body {
    background: orange;
  }
  .img-container {
    height: 75%;
    width: 20%;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  body {
    background: blue;
  }
}
