.resume {
  .information-region {
    width: 20%;
  }

  .content-region {
    margin-left: 20%;
    width: 80%;
    min-width: 300px;
    background: white;
    height: 100%;
    overflow: hidden;

    .main-regions {
      margin-bottom: 56px;
      h1 {
        font-weight: 700;
        font-size: 2rem;
        margin-bottom: 56px;
        text-transform: uppercase;
      }

      .education-region {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 40px;
        grid-row-gap: 30px;
        max-width: 90%;

        .education-box {
          padding: 30px;
          transition: $btnTrans;
          cursor: pointer;

          &:hover {
            -webkit-box-shadow: 5px 5px 61px 0px rgba(0, 0, 0, 0.1);
            -moz-box-shadow: 5px 5px 61px 0px rgba(0, 0, 0, 0.1);
            box-shadow: 5px 5px 61px 0px rgba(0, 0, 0, 0.1);
          }

          h5 {
            font-weight: 500;
            font-size: 1.3rem;
            margin-bottom: 1rem;
          }

          p {
            font-weight: 300;
            font-size: 1rem;
            margin-bottom: 0.5rem;
          }
        }
      }
    }
  }
}
